<!-- <div class="relative z-50">
  <div
    class="absolute top-0 left-0 right-0 bottom-0 w-full h-full grid place-items-center"
  >
    <div class="grid place-items-center bg-[#015aa8] p-4 rounded-lg">
      <div class="custom-loader"></div>
      <span class="loader-text tracking-widest w-full text-center">{{
        "DEFAULT.LABELS.LOADING" | translate
      }}</span>
    </div>
  </div>
</div> -->

<div class="grid place-items-center !bg-transparent p-1 rounded-lg">
  <div class="custom-loader"></div>
  <span class="loader-text tracking-widest w-full text-center">{{
    "DEFAULTS.LABELS.LOADING" | translate
  }}</span>
</div>
